<div class="container">
	<div class="jumbotron">
		<h1>ZVO web app</h1>

		<h2>online club beheer.</h2>
		<a href="/user/new" class="btn-lg btn-primary btn succes">Voeg gebruiker toe</a>
		<a href="/user" class="btn-lg btn-primary btn succes">Gebruikerslijst</a>
	</div>
</div>
